header {
  background-color: #333;
  color: #fff;
  padding: 1px;
  text-align: center;
}

.title {
  font-size: 32px;
  letter-spacing: 2px;
  margin: 0;
}


table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f5f5f5;
    border: solid 1px
  }

  tr:nth-child(even) {
    background-color: #f5f5f5;
  }

  tr:hover {
    background-color: #f5f5f5;
  }
  td{
    border-right: dashed 1px ;
    border-color: #777676;
  }
  .top_button{
    text-align: center;
    margin-bottom: 1%;
    margin-top: -4.5%;
    margin-right : 3%;
    text-align: right;
    font-family: Arial, sans-serif;
  }

  .serch{
    margin-top : 1%;
    margin-left: 1%;
    margin-bottom: 1%;
  }
  button{
    width: 10em;
    height:3em;
  }
  
  .input1 {
    width: 15em;
    height:2em;
 }
  .input2 {
    width: 8em;
    height:2em;
    background-color: #ffffff;
    border-color:#000000;
  }
  .input3 {
    width: 8em;
    height:2em;
    background-color: #ffffff;
    border-color:#000000;
  }

  .container {
    width: 90%;
    max-width: 1500px;
    max-height:1000px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }

  input[type="submit"] {
    padding: 10px 20px;
    background-color: #575555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
  }

  #resubmit {
    margin-bottom:1%;
    text-align: right;
  }

  @media (max-width: 600px) {
    .button {
      width: 100%; /* ボタンを幅いっぱいに表示 */
    }
  }