body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}
.container {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
h2 {
  text-align: center;
  color: #333;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}
input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}


 
body{
    /*
    色きれいにしたかったから
    */
    background-color: #ADD8E6;
} 



@media screen and (max-width:480px) {
 
	/*　画面サイズが480px以下の場合ここの記述が適用される　*/
    body{

        justify-content: center;
        /*
        transform: scale(2, 2);
        */
    }
    
    .form1{
        transform: scale(2, 2);
    }

    /*
        ここまでとりあえず記入したので
        スマホ用のレスポンシブお願いします。

        おすすめは、スマホ用以外を1920とかで囲んでスマホ用に適用しないようにするのがおすすめです
        あとはご自由に
    */

}