body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
  }
  
  .container {
    width: 90%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  label1 {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 24px;
    background-color: #f5f5f5
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  .title {
    font-size: 32px;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .container {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  .date-field {
    position: flex;
    align-items: center;
  }
  
  #calendar-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #calendar-button:before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #fff;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .attendance-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .attendance-button {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .attendance-button.active {
    background-color: #333;
    color: #fff;
  }
  
  textarea {
    resize: none;
    width:490px;
    height:200px;
  }
  