{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>403 Error</title>
  <link rel="stylesheet"  href="./../../../static/css/normalize.css">
  <link rel="stylesheet"  href="./../../../static/css/403error.css">
  <script src="./../../../static/js/403error.js"></script>
</head>
<body>

  <div class="container">

    <h1>403 Forbidden.</h1>
    <h2>アクセスしようとしたページは表示できませんでした。</h2>
    <p></p>
    <br>
    <button  onclick="location.href='http://127.0.0.1:5500/django/g_gloup/toukou/template/html/login3.html'" class="button">トップに戻る</button>
</body>
</html>
{% endblock content %}