<!DOCTYPE html>
<html>
<head>
  <title>500 Error</title>
  <link rel="stylesheet"  href="./../../../static/css/normalize.css">
  <link rel="stylesheet"  href="./../../../static/css/500error.css">
  <script src="./../../../static/js/500error.js"></script>
</head>
<body>

  <div class="container">

    <h1>HTTP 500 Error.</h1>
    <h2>申し訳ございません。<br>Webサイトを表示できません</h2>
    <p></p>
    <br>
    <button  onclick="location.href='http://127.0.0.1:5500/django/g_gloup/toukou/templates/html/top.html'" class="button">トップに戻る</button>
</body>
</html>