<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>統計画面</title>
        <link rel="stylesheet" href="./css/toukei.css">
    </head>
    
    <body>
        <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
            <div><a class="hyouji">出席比</a></div>
            <ol>
                <li><span class="hyouji">出席率</span>70%</li>
                <li><span class="hyouji">欠席率</span>30%</li>
            </ol>
            <div class="pie-chart-003">
                <div></div>
            </div>
        </div>
        <button class="back" type="button">
            戻る
        </button>
    </body>

</html>

