{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
{% if user.is_superuser %}
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta charset="width=device-width, initial-scale=1.0">
    <title>一覧画面</title>
    <link rel="stylesheet"  href="{% static 'css/itiran.css' %}">
  </head>
<body>   
  <header>
    <h1>一覧画面</h1>
    <div class="top_button">
      <button class="button1" name="top" onclick="location.href='/top'" >トップ画面</button>
    </div>
  </header>

  <div class="container">
    <div class="serch">
    <input class="input1" type="text" id="serch">
    <input class="input2" type="button" value="絞り込み" id="button" >
    <input class="input3" type="button" value="全て表示" id="button">
    </div>
    
  <table id="itiran">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>出席状況</th>
        <th>コメント</th>
        <th>更新日時</th>
      </tr>
    </thead>

    {% for user in object_list %}

    <tbody>
      <tr>
        <td>{{user.userNumber}}</td>
        <td>
          {% if user.userNumber == 1 %}
            <div>藤崎 隆斗</div>
          {% else %}
            <div>不明</div>
          {% endif %}
        </td>
        <td>
        {% if  user.userSta  == "10"%}
        <div>出席</div>
        {% elif user.userSta == "11"%}
          <div>欠席</div>
        {% elif user.userSta ==  "12"%}
        <div>遅刻</div>
        {% elif user.userSta ==  "13"%}
        <div>欠課</div>
        {% elif user.userSta ==  "14"%}
        <div>早退</div>
        {% elif user.userSta ==  "99"%}
        <div>その他</div>
        {% else %}
        <div>不明</div>
        {% endif %}
        
        
        </td>
        <td>{{user.userTxt}}</td>
        <td>{{user.userUp}}</td>
      </tr>
    </tbody>
    
  </div>
    {% endfor %}
  </table>
  <div id = "resubmit">
    <input type="submit" value="ログアウト" onclick="location.href='http://127.0.0.1:8000/login/'">
  </div>
</body>
{% else %}
  <h1 style="text-align=center">403 Forbidden</h1>
  <p>あなたには権限がありません</p>
{% endif %}
{% endblock content %}
