{% extends 'base.html' %}
{% block content%}
<head>
    <title>テスト</title>
</head>
<html style="background-color:lightyellow">
    <body style="text-align:center">
        <p style="text-align:center;color:lightblue;font-size: 230%;user-select: none;">こちらは検証用のページです</p>
        <a href="/top" style="text-align:center;color:aquamarine;font-size:170%;text-decoration:none;">メインへ</a></br>
        <a href="/admin" style="margin-top:10%;text-align:center;color:skyblue;font-size:170%;text-decoration:none;">管理ページへ</a>
    </body>
</html>
    {% endblock content%}