{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="width=device-width, initial-scale=1.0">
      <title>一覧画面</title>
        <link rel="stylesheet" href="./css/normalize.css">  
        <link rel="stylesheet" type="text/css" href="{% static 'itiran.css'%}">
        <div class="top_button">
          <button class="button1" name="top">トップ画面</button>
          <button class="button2" name="itiran">一覧画面</button>
        </div>
    </head>
    <body>
      <div class="serch">
        <input class="input1" type="text" id="serch">
        <input class="input2" type="button" value="絞り込み" id="button">
        <input class="input3" type="button" value="全て表示" id="button">
      </div>

    <table id="itiran">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>出席状況</th>
        <th>コメント</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>山田太郎</td>
        <td>出席</td>
        <td></td>
        <td>6/1</td>
      </tr>
      <tr>
        <td>1</td>
        <td>山田太郎</td>
        <td>出席</td>
        <td></td>
        <td>6/1</td>
      </tr>
      <tr>
        <td>1</td>
        <td>山田太郎</td>
        <td>出席</td>
        <td></td>
        <td>6/1</td>
      </tr>
    </tbody>
    </table>


    </body>
</html>